<link rel="stylesheet" href="{{ 'custom-featured-article.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'custom-featured-article.css' | asset_url | stylesheet_tag }}</noscript>
{%- style -%}
  .section--{{ section.id }} {
    background-color: {{ section.settings.back_color }};
    padding-top: {{ section.settings.mobile_padding_top }}px;
    padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
  }

  @media screen and (min-width: 990px) {
    .section--{{ section.id }} {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
{% if section.settings.article %}
    {% assign article = section.settings.article %}
    <div class="section--{{ section.id }}">
        <div class="featured-article page-width">
            {% if article.image != blank %}
                <a href="{{ article.url }}" class="featured-article__image" style="padding-bottom: {{ 1 | divided_by: article.image.aspect_ratio | times: 100 }}%">
                    <img
                    srcset="{%- if article.image.width >= 165 -%}{{ article.image | image_url: width: 165 }} 165w,{%- endif -%}
                    {%- if article.image.width >= 360 -%}{{ article.image | image_url: width: 360 }} 360w,{%- endif -%}
                    {%- if article.image.width >= 535 -%}{{ article.image | image_url: width: 535 }} 535w,{%- endif -%}
                    {%- if article.image.width >= 750 -%}{{ article.image | image_url: width: 750 }} 750w,{%- endif -%}
                    {%- if article.image.width >= 1070 -%}{{ article.image | image_url: width: 1070 }} 1070w,{%- endif -%}
                    {%- if article.image.width >= 1500 -%}{{ article.image | image_url: width: 1500 }} 1500w,{%- endif -%}
                    {{ article.image | image_url }} {{ article.image.width }}w"
                    src="{{ article.image | image_url: width: 1500 }}"
                    sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                    alt="{{ article.image.alt | escape }}"
                    loading="lazy"
                    width="{{ article.image.width }}"
                    height="{{ article.image.height }}"
                    >
                </a>
            {% endif %}
            <div class="featured-article__info">
                <div class="featured-article__date">
                    {{ article.published_at | time_tag: format: 'date' }}
                    {% assign reading_time = article.content | strip_html | split: ' ' | size | times: 1.0 | divided_by: 250 | ceil %}<span> | {{ 'blogs.article.minutes' | t: count: reading_time }}</span>
                </div>
                <div class="featured-article__heading">
                    <h2 class="title">
                        {{ article.title }}
                    </h2>
                </div>
                <div class="featured-article__description">
                    {{ article.content | strip_html | truncatewords: 30 }}
                </div>
                <div class="featured-article__button">
                    <a class="readmore__button" href="{{ article.url }}">
                        Read more
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% schema %}
{
    "name": "Featured Article",
    "class": "section",
    "settings": [
        {
            "type": "article",
            "id": "article",
            "label": "Article"
        },
        {
            "type": "color",
            "id": "back_color",
            "label": "Background",
            "default": "#FFFFFF"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "t:sections.all.padding.padding_top",
            "default": 36
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "t:sections.all.padding.padding_bottom",
            "default": 36
        },
        {
            "type": "range",
            "id": "mobile_padding_top",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "Mobile Top Padding",
            "default": 36
        },
        {
            "type": "range",
            "id": "mobile_padding_bottom",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "Mobile Bottom Padding",
            "default": 36
        }
    ],
    "presets": [
        {
            "name": "Featured Article"
        }
    ]
}
{% endschema %}