{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-newsletter.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-payment.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-social.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'disclosure.css' | asset_url }}" media="print" onload="this.media='all'">
{{ 'custom-footer.css' | asset_url | stylesheet_tag }}

<noscript>{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-social.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'disclosure.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .footer {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
  }

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .footer {
      margin-top: {{ section.settings.margin_top }}px;
    }

    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  .footer__newsletter {
    background-image: url('{{ section.settings.newsletter_bg | img_url: '990x' }}');
  }
{%- endstyle -%}

{%- if section.settings.newsletter_enable -%}
  <div class="footer__newsletter large-up-hide">
    <div class="footer__newsletter-wrapper">
      {%- if section.settings.newsletter_heading != blank -%}
        <h2 class="footer__newsletter--heading">{{ section.settings.newsletter_heading | escape }}</h2>
      {%- endif -%}
      <div class="klaviyo-form-UtDpec"></div>
    </div>
  </div>
{%- endif -%}
<footer class="footer color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding">
  {% if section.blocks.size > 0 %}
    <div class="footer__content-iwt page-width small-hide medium-hide">
      <div class="footer__content-iwt-inner">
        {% for block in section.blocks %}
          {% if block.type == 'icon-with-text' %}
            <div class="footer__content-iwt-item">
              <div class="footer__content-iwt-item-inner">
                <div class="footer__content-iwt-item__icon">
                  {{ block.settings.icon }}
                </div>
                <div class="footer__content-iwt-item__text">
                    {% if block.settings.heading != blank %}
                        <div class="footer__content-iwt-item__heading">
                            <h2 class="title">
                                {{ block.settings.heading }}
                            </h2>
                        </div>
                    {% endif %}
                    {% if block.settings.description != blank %}
                        <div class="footer__content-iwt-item__description">
                            {{ block.settings.description }}
                        </div>
                    {% endif %}
                    {% if block.settings.btn_label != blank and block.settings.btn_link != blank %}
                        <div class="footer__content-iwt-item__button">
                            <a class="readmore__button" href="{{ block.settings.btn_link }}">
                                {{ block.settings.btn_label }}
                            </a>
                        </div>
                    {% endif %}
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
  <div class="footer__column footer__localization footer__localization-tablet isolate large-up-hide">
    {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
      <noscript>
        {%- form 'localization', id: 'FooterCountryFormNoScript', class: 'localization-form' -%}
          <div class="localization-form__select">
            <h2 class="visually-hidden" id="FooterCountryLabelNoScript">{{ 'localization.country_label' | t }}</h2>
            <select class="localization-selector link" name="country_code" aria-labelledby="FooterCountryLabelNoScript">
              {%- for country in localization.available_countries -%}
                <option value="{{ country.iso_code }}" {%- if country.iso_code == localization.country.iso_code %} selected{% endif %}>
                  {{ country.name }} ({{ country.currency.iso_code }} {{ country.currency.symbol }})
                </option>
              {%- endfor -%}
            </select>
            {% render 'icon-caret' %}
          </div>
          <button class="button button--tertiary">{{ 'localization.update_country' | t }}</button>
        {%- endform -%}
      </noscript>
      <localization-form>
        {%- form 'localization', id: 'FooterCountryForm', class: 'localization-form' -%}
          <div class="no-js-hidden">
            <div class="disclosure">
              <button type="button" class="disclosure__button localization-form__select localization-selector link link--text caption-large" aria-expanded="false" aria-controls="FooterCountryList" aria-describedby="FooterCountryLabel">
                {{ localization.country.currency.symbol }} {{ localization.country.name }}
                {% render 'icon-caret' %}
              </button>
              <div class="disclosure__list-wrapper" hidden>
                <ul id="FooterCountryList" role="list" class="disclosure__list list-unstyled">
                  {%- for country in localization.available_countries -%}
                    <li class="disclosure__item" tabindex="-1">
                      <a class="link link--text disclosure__link caption-large{% if country.iso_code == localization.country.iso_code %} disclosure__link--active{% endif %} focus-inset" href="#"{% if country.iso_code == localization.country.iso_code %} aria-current="true"{% endif %} data-value="{{ country.iso_code }}">
                        {{ country.currency.symbol }} {{ country.name }}
                      </a>
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            </div>
            <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
          </div>
        {%- endform -%}
      </localization-form>
    {%- endif -%}

    {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
      <noscript>
        {%- form 'localization', id: 'FooterLanguageFormNoScript', class: 'localization-form' -%}
          <div class="localization-form__select">
            <h2 class="visually-hidden" id="FooterLanguageLabelNoScript">{{ 'localization.language_label' | t }}</h2>
            <select class="localization-selector link" name="locale_code" aria-labelledby="FooterLanguageLabelNoScript">
              {%- for language in localization.available_languages -%}
                <option value="{{ language.iso_code }}" lang="{{ language.iso_code }}" {%- if language.iso_code == localization.language.iso_code %} selected{% endif %}>
                  {{ language.endonym_name | capitalize }}
                </option>
              {%- endfor -%}
            </select>
            {% render 'icon-caret' %}
          </div>
          <button class="button button--tertiary">{{ 'localization.update_language' | t }}</button>
        {%- endform -%}
      </noscript>

      <localization-form>
        {%- form 'localization', id: 'FooterLanguageForm', class: 'localization-form' -%}
          <div class="no-js-hidden">
            <h2 class="caption-large text-body" id="FooterLanguageLabel">{{ 'localization.language_label' | t }}</h2>
            <div class="disclosure">
              <button type="button" class="disclosure__button localization-form__select localization-selector link link--text caption-large" aria-expanded="false" aria-controls="FooterLanguageList" aria-describedby="FooterLanguageLabel">
                {{ localization.language.endonym_name | capitalize }}
                {% render 'icon-caret' %}
              </button>
              <div class="disclosure__list-wrapper" hidden>
                <ul id="FooterLanguageList" role="list" class="disclosure__list list-unstyled">
                  {%- for language in localization.available_languages -%}
                    <li class="disclosure__item" tabindex="-1">
                      <a class="link link--text disclosure__link caption-large{% if language.iso_code == localization.language.iso_code %} disclosure__link--active{% endif %} focus-inset" href="#" hreflang="{{ language.iso_code }}" lang="{{ language.iso_code }}"{% if language.iso_code == localization.language.iso_code %} aria-current="true"{% endif %} data-value="{{ language.iso_code }}">
                        {{ language.endonym_name | capitalize }}
                      </a>
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            </div>
            <input type="hidden" name="locale_code" value="{{ localization.language.iso_code }}">
          </div>
        {%- endform -%}
      </localization-form>
    {%- endif -%}
  </div>
  {%- if section.blocks.size > 0 or section.settings.newsletter_enable or section.settings.show_social -%}
    <div class="footer__content-top page-width">
      {%- if section.blocks.size > 0 -%}
        <div class="footer__blocks-wrapper {{ footer_grid_class }}">
          {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'link_list' -%}
              {%- if block.settings.menu != blank -%}
                <div class="footer-block {% if block.type == 'link_list' %} footer-block--menu{% endif %}" {{ block.shopify_attributes }}>
                  {%- if block.settings.heading != blank -%}
                    <label class="footer-block__heading" for="{{ block.settings.heading | handleize }}">
                      {{- block.settings.heading | escape -}}
                      {% render 'icon-caret' %}
                    </label>
                  {%- endif -%}
                  <input type="checkbox" id="{{ block.settings.heading | handleize }}">
                  
                  <ul class="footer-block__details-content list-unstyled">
                    {%- for link in block.settings.menu.links -%}
                      <li>
                        <a href="{{ link.url }}" class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}">
                          {{ link.title }}
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
               </div>
              {%- endif -%}
            {%- endcase -%}
          {%- endfor -%}
          {% for block in section.blocks %}
            {% if block.type == 'icon-with-text' %}
            <div class="footer-block footer-block--menu large-up-hide" {{ block.shopify_attributes }}>
              {%- if block.settings.heading != blank -%}
                <label class="footer-block__heading" for="{{ block.settings.heading | handleize }}">
                  {{- block.settings.heading | escape -}}
                  {% render 'icon-caret' %}
                </label>
              {%- endif -%}
              <input type="checkbox" id="{{ block.settings.heading | handleize }}">
              <div class="footer-block__details-content">
                <div class="footer-block__description">
                  {{ block.settings.description }}
                </div>
                {% if block.settings.btn_label and block.settings.btn_link %}
                  <div class="footer-block__button">
                    <a class="readmore__button" href="{{ block.settings.btn_link }}">
                      {{ block.settings.btn_label }}
                    </a>
                  </div>
                {% endif %}
              </div>
            </div>
            {% endif %}
          {% endfor %}
          <div class="footer-block--newsletter footer-block">
            {%- if section.settings.newsletter_enable -%}
              <div class="footer-block__newsletter medium-hide small-hide">
                {%- if section.settings.newsletter_heading != blank -%}
                  <h2 class="footer-block__heading">{{ section.settings.newsletter_heading | escape }}</h2>
                {%- endif -%}
                {% if section.settings.newsletter_description != blank %}
                  <div class="footer-block__description">
                    {{ section.settings.newsletter_description }}
                  </div>
                {% endif %}
                {%- comment -%}
                {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
                  <input type="hidden" name="contact[tags]" value="newsletter">
                  <div class="newsletter-form__field-wrapper">
                    <div class="field">
                      <input
                        id="NewsletterForm--{{ section.id }}"
                        type="email"
                        name="contact[email]"
                        class="field__input"
                        value="{{ form.email }}"
                        aria-required="true"
                        autocorrect="off"
                        autocapitalize="off"
                        autocomplete="email"
                        {% if form.errors %}
                          autofocus
                          aria-invalid="true"
                          aria-describedby="ContactFooter-error"
                        {% elsif form.posted_successfully? %}
                          aria-describedby="ContactFooter-success"
                        {% endif %}
                        placeholder="{{ 'newsletter.label' | t }}"
                        required
                      >
                      <button type="submit" class="newsletter-form__button field__button" name="commit" id="Subscribe" aria-label="{{ 'newsletter.button_label' | t }}">
                        Submit
                      </button>
                    </div>
                    {%- if form.errors and form.subject == blank -%}
                      <small class="newsletter-form__message form__message" id="ContactFooter-error">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
                    {%- endif -%}
                  </div>
                  {%- if form.posted_successfully? -%}
                    <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="ContactFooter-success" tabindex="-1" autofocus>{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3>
                  {%- endif -%}
                {%- endform -%}
                {%- endcomment -%}
                <div class="klaviyo-form-UtDpec"></div>
              </div>
            {%- endif -%}
    
            <div class="footer__localization__list-social">
              <div class="footer__column footer__localization isolate medium-hide small-hide">
                {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
                  <noscript>
                    {%- form 'localization', id: 'FooterCountryFormNoScript', class: 'localization-form' -%}
                      <div class="localization-form__select">
                        <h2 class="visually-hidden" id="FooterCountryLabelNoScript">{{ 'localization.country_label' | t }}</h2>
                        <select class="localization-selector link" name="country_code" aria-labelledby="FooterCountryLabelNoScript">
                          {%- for country in localization.available_countries -%}
                            <option value="{{ country.iso_code }}" {%- if country.iso_code == localization.country.iso_code %} selected{% endif %}>
                              {{ country.name }} ({{ country.currency.iso_code }} {{ country.currency.symbol }})
                            </option>
                          {%- endfor -%}
                        </select>
                        {% render 'icon-caret' %}
                      </div>
                      <button class="button button--tertiary">{{ 'localization.update_country' | t }}</button>
                    {%- endform -%}
                  </noscript>
                  <localization-form>
                    {%- form 'localization', id: 'FooterCountryForm', class: 'localization-form' -%}
                      <div class="no-js-hidden">
                        <div class="disclosure">
                          <button type="button" class="disclosure__button localization-form__select localization-selector link link--text caption-large" aria-expanded="false" aria-controls="FooterCountryList" aria-describedby="FooterCountryLabel">
                            {{ localization.country.currency.symbol }} {{ localization.country.name }}
                            {% render 'icon-caret' %}
                          </button>
                          <div class="disclosure__list-wrapper" hidden>
                            <ul id="FooterCountryList" role="list" class="disclosure__list list-unstyled">
                              {%- for country in localization.available_countries -%}
                                <li class="disclosure__item" tabindex="-1">
                                  <a class="link link--text disclosure__link caption-large{% if country.iso_code == localization.country.iso_code %} disclosure__link--active{% endif %} focus-inset" href="#"{% if country.iso_code == localization.country.iso_code %} aria-current="true"{% endif %} data-value="{{ country.iso_code }}">
                                    {{ country.currency.symbol }} {{ country.name }}
                                  </a>
                                </li>
                              {%- endfor -%}
                            </ul>
                          </div>
                        </div>
                        <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
                      </div>
                    {%- endform -%}
                  </localization-form>
                {%- endif -%}
        
                {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
                  <noscript>
                    {%- form 'localization', id: 'FooterLanguageFormNoScript', class: 'localization-form' -%}
                      <div class="localization-form__select">
                        <h2 class="visually-hidden" id="FooterLanguageLabelNoScript">{{ 'localization.language_label' | t }}</h2>
                        <select class="localization-selector link" name="locale_code" aria-labelledby="FooterLanguageLabelNoScript">
                          {%- for language in localization.available_languages -%}
                            <option value="{{ language.iso_code }}" lang="{{ language.iso_code }}" {%- if language.iso_code == localization.language.iso_code %} selected{% endif %}>
                              {{ language.endonym_name | capitalize }}
                            </option>
                          {%- endfor -%}
                        </select>
                        {% render 'icon-caret' %}
                      </div>
                      <button class="button button--tertiary">{{ 'localization.update_language' | t }}</button>
                    {%- endform -%}
                  </noscript>
        
                  <localization-form>
                    {%- form 'localization', id: 'FooterLanguageForm', class: 'localization-form' -%}
                      <div class="no-js-hidden">
                        <h2 class="caption-large text-body" id="FooterLanguageLabel">{{ 'localization.language_label' | t }}</h2>
                        <div class="disclosure">
                          <button type="button" class="disclosure__button localization-form__select localization-selector link link--text caption-large" aria-expanded="false" aria-controls="FooterLanguageList" aria-describedby="FooterLanguageLabel">
                            {{ localization.language.endonym_name | capitalize }}
                            {% render 'icon-caret' %}
                          </button>
                          <div class="disclosure__list-wrapper" hidden>
                            <ul id="FooterLanguageList" role="list" class="disclosure__list list-unstyled">
                              {%- for language in localization.available_languages -%}
                                <li class="disclosure__item" tabindex="-1">
                                  <a class="link link--text disclosure__link caption-large{% if language.iso_code == localization.language.iso_code %} disclosure__link--active{% endif %} focus-inset" href="#" hreflang="{{ language.iso_code }}" lang="{{ language.iso_code }}"{% if language.iso_code == localization.language.iso_code %} aria-current="true"{% endif %} data-value="{{ language.iso_code }}">
                                    {{ language.endonym_name | capitalize }}
                                  </a>
                                </li>
                              {%- endfor -%}
                            </ul>
                          </div>
                        </div>
                        <input type="hidden" name="locale_code" value="{{ localization.language.iso_code }}">
                      </div>
                    {%- endform -%}
                  </localization-form>
                {%- endif -%}
              </div>
              {% for block in section.blocks %}
                {% if block.type == 'accessibility_button' %}
                  <div class="footer__accessibility">
                    <a class="button circle-icon-with-button" href="{{ block.settings.btn_link }}">
                      <span class="button-icon">
                        {% render 'icon-accessibility' %}
                      </span>
                      <span class="button-label">
                        {{ block.settings.btn_label }}
                      </span>
                    </a>
                  </div>
                {% endif %}
              {% endfor %}
              {%- if section.settings.show_social -%}
                <ul class="footer__list-social list-unstyled list-social" role="list">
                  {%- if settings.social_youtube_link != blank -%}
                    <li class="list-social__item">
                      <a href="{{ settings.social_youtube_link }}" class="link list-social__link" target="_blank">
                        {%- render 'icon-youtube' -%}
                        <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                      </a>
                    </li>
                  {%- endif -%}
                  {%- if settings.social_instagram_link != blank -%}
                    <li class="list-social__item">
                      <a href="{{ settings.social_youtube_link }}" class="link list-social__link" target="_blank">
                        {%- render 'icon-instagram' -%}
                        <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                      </a>
                    </li>
                  {%- endif -%}
                  {%- if settings.social_twitter_link != blank -%}
                    <li class="list-social__item">
                      <a href="{{ settings.social_twitter_link }}" class="link list-social__link" target="_blank">
                        {%- render 'icon-twitter' -%}
                        <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                      </a>
                    </li>
                  {%- endif -%}
                  {%- if settings.social_facebook_link != blank -%}
                    <li class="list-social__item">
                      <a href="{{ settings.social_facebook_link }}" class="link list-social__link" target="_blank">
                        {%- render 'icon-facebook' -%}
                        <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                      </a>
                    </li>
                  {%- endif -%}
                  {%- if settings.social_pinterest_link != blank -%}
                    <li class="list-social__item">
                      <a href="{{ settings.social_pinterest_link }}" class="link list-social__link" target="_blank">
                        {%- render 'icon-pinterest' -%}
                        <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                      </a>
                    </li>
                  {%- endif -%}
                  {%- if settings.social_tiktok_link != blank -%}
                    <li class="list-social__item">
                      <a href="{{ settings.social_tiktok_link }}" class="link list-social__link" target="_blank">
                        {%- render 'icon-tiktok' -%}
                        <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
                      </a>
                    </li>
                  {%- endif -%}
                  {%- if settings.social_tumblr_link != blank -%}
                    <li class="list-social__item">
                      <a href="{{ settings.social_tumblr_link }}" class="link list-social__link" target="_blank">
                        {%- render 'icon-tumblr' -%}
                        <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
                      </a>
                    </li>
                  {%- endif -%}
                  {%- if settings.social_snapchat_link != blank -%}
                    <li class="list-social__item">
                      <a href="{{ settings.social_snapchat_link }}" class="link list-social__link" target="_blank">
                        {%- render 'icon-snapchat' -%}
                        <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
                      </a>
                    </li>
                  {%- endif -%}
                  {%- if settings.social_vimeo_link != blank -%}
                    <li class="list-social__item">
                      <a href="{{ settings.social_vimeo_link }}" class="link list-social__link" target="_blank">
                        {%- render 'icon-vimeo' -%}
                        <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
                      </a>
                    </li>
                  {%- endif -%}
                </ul>
              {%- endif -%}
            </div>
          </div>
          {% for block in section.blocks %}
            {% if block.type == 'copyright' %}
              <div class="footer-block--copyright footer-block large-up-hide">
                <div class="copyright__content">
                  {{ block.settings.text }}
                </div>
              </div>
            {% endif %}
        {% endfor %}
        </div>
      {%- endif -%}
    </div>
  {%- endif -%}

  <div class="footer__content-bottom">
    <div class="footer__content-bottom-wrapper page-width">
      <div class="footer__bottom--items">
        {% for block in section.blocks %}
          {% if block.type == 'bottom-item' %}
            <div class="footer__bottom-item">
              <a href="{{ block.settings.link }}">
                {{ block.settings.text }}
              </a>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <div class="footer__column footer__column--info medium-hide small-hide">
        {%- if section.settings.payment_enable -%}
          <div class="footer__payment">
            <span class="visually-hidden">{{ 'sections.footer.payment' | t }}</span>
            <ul class="list list-payment" role="list">
              {%- for type in shop.enabled_payment_types -%}
                <li class="list-payment__item">
                  {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                </li>
              {%- endfor -%}
            </ul>
          </div>
        {%- endif -%}
        {% for block in section.blocks %}
          {% if block.type == 'copyright' %}
            <div class="footer__copyright caption">
              <div class="copyright__content">
                {{ block.settings.text }}
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</footer>

{% javascript %}
  class LocalizationForm extends HTMLElement {
    constructor() {
      super();
      this.elements = {
        input: this.querySelector('input[name="locale_code"], input[name="country_code"]'),
        button: this.querySelector('button'),
        panel: this.querySelector('.disclosure__list-wrapper'),
      };
      if(this.elements.button) {
        this.elements.button.addEventListener('click', this.openSelector.bind(this));
      }
      if(this.elements.button) {
        this.elements.button.addEventListener('focusout', this.closeSelector.bind(this));
      }
      
      this.addEventListener('keyup', this.onContainerKeyUp.bind(this));

      this.querySelectorAll('a').forEach(item => item.addEventListener('click', this.onItemClick.bind(this)));
    }

    hidePanel() {
      this.elements.button.setAttribute('aria-expanded', 'false');
      this.elements.panel.setAttribute('hidden', true);
    }

    onContainerKeyUp(event) {
      if (event.code.toUpperCase() !== 'ESCAPE') return;

      this.hidePanel();
      this.elements.button.focus();
    }

    onItemClick(event) {
      event.preventDefault();
      const form = this.querySelector('form');
      this.elements.input.value = event.currentTarget.dataset.value;
      if (form) form.submit();
    }

    openSelector() {
      this.elements.button.focus();
      this.elements.panel.toggleAttribute('hidden');
      this.elements.button.setAttribute('aria-expanded', (this.elements.button.getAttribute('aria-expanded') === 'false').toString());
    }

    closeSelector(event) {
      const shouldClose = event.relatedTarget && event.relatedTarget.nodeName === 'BUTTON';
      if (event.relatedTarget === null || shouldClose) {
        this.hidePanel();
      }
    }
  }

  customElements.define('localization-form', LocalizationForm);
{% endjavascript %}

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "limit": 3,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Quick links",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    },
    {
      "type": "icon-with-text",
      "name": "Icon With Text",
      "limit": 2,
      "settings": [
          {
              "type": "html",
              "id": "icon",
              "label": "Icon"
          },
          {
              "type": "text",
              "id": "heading",
              "label": "Heading"
          },
          {
              "type": "richtext",
              "id": "description",
              "label": "Description"
          },
          {
              "type": "text",
              "id": "btn_label",
              "label": "Button Label"
          },
          {
              "type": "url",
              "id": "btn_link",
              "label": "Button Link"
          }
      ]
    },
    {
      "type": "accessibility_button",
      "name": "Accessibility Button",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "btn_label",
          "label": "Button Label",
          "default": "Accessibility"
        },
        {
          "type": "url",
          "id": "btn_link",
          "label": "Button Link"
        }
      ]
    },
    {
      "type": "bottom-item",
      "name": "Bottom Item",
      "limit": 3,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    },
    {
      "type": "copyright",
      "name": "Copy Right",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "image_picker",
      "id": "newsletter_bg",
      "label": "Newsletter background image"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "default": "Sign Up = Sweet Exclusive Deals",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "richtext",
      "id": "newsletter_description",
      "default": "<p>Get 10% off your first order + be the first to hear about our latest launches, new products, and events.</p>",
      "label": "Description"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__2.content",
      "info": "t:sections.footer.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": false,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__3.content",
      "info": "t:sections.footer.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__5.content",
      "info": "t:sections.footer.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__7.content"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.footer.settings.margin_top.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      }
    ]
  }
}
{% endschema %}
