<link rel="stylesheet" href="{{ 'custom-hero-banner.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'custom-hero-banner.css' | asset_url | stylesheet_tag }}</noscript>
{%- style -%}
  .section--{{ section.id }} .hero-banner__image {
    height: {{ section.settings.image_height }}px;
  }

  .section--{{ section.id }} .hero-banner__color {
    background: {{ section.settings.back_color }};
  }

  @media (max-width: 749px) {
    .section--{{ section.id }} .hero-banner__image {
        height: {{ section.settings.mobile_image_height }}px;
    }

    .section--{{ section.id }} .hero-banner__content {
        background: {{ section.settings.back_color }};
    }
  }
{%- endstyle -%}
<div class="section--{{ section.id }}">
    <div class="hero-banner">
        <div class="hero-banner__back {% if section.settings.is_split %}split__banner{% endif %}">
            {% if section.settings.is_split %}
                <div class="hero-banner__color"></div>
            {% endif %}
            <div class="hero-banner__image small-hide">
                {% render 'lazy-image' image: section.settings.image %}
            </div>
            {% assign mobile_image = section.settings.mobile_image | default: section.settings.image %}
            <div class="hero-banner__image medium-hide large-up-hide">
                {% render 'lazy-image' image: mobile_image %}
            </div>
        </div>
        {% if section.blocks.size > 0 %}
            <div class="hero-banner__content {{ section.settings.content_layout }}">
                <div class="hero-banner__content-inner">
                    {% for block in section.blocks %}
                        {% case block.type %}
                            {% when 'heading' %}
                                <div class="hero-banner__heading">
                                    <h2 class="title">
                                        {{ block.settings.heading }}
                                    </h2>
                                </div>
                            {% when 'description' %}
                                <div class="hero-banner__description">
                                    {{ block.settings.description }}
                                </div>
                            {% when 'button' %}
                                <div class="hero-banner__button">
                                    <a class="button icon-with-button" href="{{ block.settings.link }}">
                                        <span class="button-icon">
                                            {{ block.settings.icon }}
                                        </span>
                                        <span class="button-label">
                                            {{ block.settings.label }}
                                        </span>
                                    </a>
                                </div>
                        {% endcase %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% schema %}
{
    "name": "Hero Banner",
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Background Image"
        },
        {
            "type": "image_picker",
            "id": "mobile_image",
            "label": "Moblie Background Image"
        },
        {
            "type": "range",
            "id": "image_height",
            "min": 300,
            "max": 800,
            "step": 25,
            "unit": "px",
            "label": "Image Height",
            "default": 600
        },
        {
            "type": "range",
            "id": "mobile_image_height",
            "min": 200,
            "max": 600,
            "step": 25,
            "unit": "px",
            "label": "Mobile Image Height",
            "default": 200
        },
        {
            "type": "checkbox",
            "id": "is_split",
            "label": "Split Banner",
            "default": true
        },
        {
            "type": "color",
            "id": "back_color",
            "label": "Background Color",
            "default": "#dfd8d4"
        },
        {
            "type": "select",
            "id": "content_layout",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ],
            "default": "left",
            "label": "Content Layout"
        }
    ],
    "blocks": [
        {
            "type": "heading",
            "name": "Heading",
            "settings": [
                {
                    "type": "text",
                    "id": "heading",
                    "label": "Heading",
                    "default": "The only underwear your balls deserve."
                }
            ]
        },
        {
            "type": "description",
            "name": "Description",
            "settings": [
                {
                    "type": "richtext",
                    "id": "description",
                    "label": "Description",
                    "default": "<p>Time to treat your crown jewels like royalty.</p>"
                }
            ]
        },
        {
            "type": "button",
            "name": "Button",
            "settings": [
                {
                    "type": "html",
                    "id": "icon",
                    "label": "Icon"
                },
                {
                    "type": "text",
                    "id": "label",
                    "label": "Label"
                },
                {
                    "type": "url",
                    "id": "link",
                    "label": "Link"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Hero Banner",
            "blocks": [
                {
                    "type": "heading"
                },
                {
                    "type": "description"
                },
                {
                    "type": "button"
                },
                {
                    "type": "button"
                },
                {
                    "type": "button"
                }
            ]
        }
    ]
}
{% endschema %}